# === OS files ===
.DS_Store
Thumbs.db

# === Editors / IDE ===
.vscode/
.idea/
*.swp
*.swo

# === Logs ===
*.log

# === Environment variables / secrets ===
.env
.env.*

# === Helm build artifacts ===
helm/demo-app/charts/
helm/demo-app/*.lock

# === Node / Frontend build output ===
node_modules/
dist/
build/

# === Python cache (ak by si použil Python backend) ===
__pycache__/
*.pyc
*.pyo

# === Kubernetes local files ===
*.kubeconfig
